body {
  height: auto;
  width: auto;
  background-color:rgb(215, 233, 238);
}
.wrapper {
    margin: 5px;
}
.action{
    border-radius : 5px;
    font-family: 'Retro Gaming';
}
h1 {
    font-family: 'Pixel Bubbles';
    font-size: 25px;
    margin: 15px 0px 0px 10px;
}
#header {
  height: 40px;
  width: 300px;
  /* margin-bottom: 10px; */
  /* background-color: rgb(255, 255, 255); */
  border-radius: 5px;
}
#fishtank {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
    background-color: rgb(185, 227, 248);
    border-radius : 10px;
}
#fishtank_header {
    padding: 5px;
    background-color: rgb(31, 90, 117);
    border-radius : 10px 10px 0px 0px;
}
#chat {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
    background-color: rgb(13, 29, 51);
    border-radius : 10px;
}

@font-face{
    font-family: 'Pixel Bubbles';
    src: url(/fonts/04B_30__.TTF);
}

@font-face{
    font-family: 'Retro Gaming';
    src: url(/fonts/Retro_Gaming.TTF);
}

